@import "colors";

body{
    background-color: $main-body;
}

#login-section-signIn {
    form {
        width: 50%;
        background-color: #d3d3d3;
        margin-top: 5%;
    }

    button {
        margin-top: 2%;
        position: relative;
    }
}

#login-section-signUp {
    form {
        width: 50%;
        background-color: #d3d3d3;
        margin-top: 5%;
    }
}

nav {
    border: solid 2px;
    background-color: lightgreen;

    div.navbar-nav.pull-right {
        margin-top: .7%;
    }

    li {
        list-style: none;
    }
}
